<footer class="text-white text-start text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <a class="navbar-brand" href="{{ path('accueil') }}">
          <img src="{{ asset('front/img/logo-footer.png') }}" width="70%" alt="Fer7-logo" />
        </a>

        <p>De la conception à la réalisation, nous vous accompagnons pour penser, créer et maintenir des espaces uniques
        </p>
        <div class="social-media">
          {#<i class="fa-brands fa-twitter footer-icon"></i>#}
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-facebook-f"></i>
          {#<i class="fa-brands fa-instagram"></i>#}
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase info-contact">Infos du contact</h6>
        <span class="header-divider"></span>
        <ul class="list-unstyled mb-0">
          <li>
            <p class="text-white"><i class="fa-solid fa-location-dot"></i> 131 Boulevard d’Anfa, Casablanca </p>
            <p class="text-white"><i class="fa-regular fa-envelope"></i> fer7diffusion@fer7.ma </p>
          </li>
          <li>
            <p style="color: white;"><i class="fa-solid fa-phone-volume"></i>
              +212 5 22 22 46 57</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p style="text-align:center"> FER 7 DIFFUSION © All Rights Reserved - 2024</p>

  </div>
</footer>